<button routerLink="/Login">Logout</button>

<br>
<div>

  <h1>Enter username to change password</h1>
<form #RegisterForm="ngForm" (ngSubmit)="update(RegisterForm.value)">
  <input type="text" ngModel id="username" [(ngModel)]="username" placeholder="Username you want to change the pass" name="username">
  <input type="password" ngModel id="password" placeholder="New password" name="password">
  <input class="btn-new" type="submit" id="saveData" name="Submit" value="Update password"/>
</form>
</div>
<br>
<div class="body">
    <div   class="cards-list over">
        <div *ngFor="let peps of users | async">
            <div *ngIf= "peps">
                <div class="card 1">
                    <div class="card_title title-white">
                      <p class="p-title">Username: {{peps.username}}</p>  
                      <p>Password: {{peps.password}}</p>
                      <button (click)="del(peps.username)">Delete</button>
                      <button (click)="fillForm(peps.username)">update</button>
                    </div>
                  </div>
                </div>  

        </div>
    </div>
    </div>
