.body{
   width: 30%;
   display: flex;
   align-items: center;
   max-width: 1000px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   
}
@media only screen and (max-width: 600px) {
  .body {
   margin-top: 35%;
    width: 100%;
    height: auto;   
  }
}
.card{
    border: 1px solid skyblue;
    margin: 2%;
    height: 90px;
   
}
.over{
    background-color: cornflowerblue;
  height: 400px;
  width: 350px;
  padding: 20px;
  border: 5px solid grey;
  overflow-y: auto;
}
button{
  float: right;
}
