<app-navbar></app-navbar>
<div class="background">
<br><br><br><br>
<div>

  <h1>Enter username to change password</h1>
<form #RegisterForm="ngForm" (ngSubmit)="update(RegisterForm.value)">
  <input type="text" ngModel id="username" [(ngModel)]="username" placeholder="Username you want to change the pass" name="username" required>
  <input type="password" ngModel id="password" placeholder="New password" name="password" required>
  <input class="btn-new" type="submit" id="saveData" name="Submit" [disabled]="RegisterForm.invalid" value="Update password"/>
</form>
</div>
<br>



<div *ngIf="getSession == getSession">
<div class="body">
    <div   class="cards-list over">
        <div *ngFor="let peps of users | async">
            <div *ngIf= "peps">
                <div class="card 1">
                    <div class="card_title title-white">
                      <p *ngIf="getSession==peps.username" class="p-title">Username: {{peps.username}}</p>
                      <p *ngIf="getSession=='admin'" class="p-title">Username: {{peps.username}}</p>  
                      <p *ngIf="getSession=='admin'">Password: {{peps.password}}</p>
                      <p *ngIf="getSession==peps.username">Password: {{peps.password}}</p>
                      <button *ngIf="getSession==peps.username" (click)="del(peps.username)">Delete</button>
                      <button *ngIf="getSession=='admin'" (click)="del(peps.username)">Delete</button>
                      <button *ngIf="getSession=='admin'" (click)="fillForm(peps.username)">update</button>
                    </div>
                  </div>
                </div>  

        </div>
    </div>
    </div>
  


  <div class="chat"> 
  <div class="chatlist">
    
      <div *ngFor="let peeps of userchat | async">
        <div class="pepol">
        <p class="p-title-chat">{{peeps.username}}</p> 
        <p class="p-chat">{{peeps.chat}}</p> 
        <button *ngIf="getSession==peeps.username" (click)="deleteChat(peeps.id)">Delete</button>
        <button *ngIf="getSession=='admin'" (click)="deleteChat(peeps.id)">Delete</button>
        </div>
       
    </div>

    </div>
    <form class="inputs" #chat="ngForm" (ngSubmit)="chats(chat.value)">
      <input type="radio" ngModel id="username" [(ngModel)]="selectedValue" name="username" id="username" value="{{getSession}}" required>
     <input class="ichat" style="height: 40px; width: 225px;" type="text" ngModel id="chat" placeholder="Message" name="chat" required>
     <input class="btn-new" type="submit" id="saveData" name="Submit" [disabled]="chat.invalid" value="Send"/>
     
     </form>
</div>
</div>
</div>