<app-navbar></app-navbar><br><br>
<body>

    <div class="inputBox">
        <form class="post" #post="ngForm" (ngSubmit)="posts(post.value)">
           <textarea class="ichat" style="height: 40px; width: 225px;" type="text" ngModel id="post" placeholder="Message" name="post" required></textarea>
           <input class="btn-new" type="submit" id="saveData" name="Submit" [disabled]="post.invalid" value="Post"/>
           
           </form>


    </div>
<div *ngFor="let newpost of userPost | async ">
<div *ngIf="newpost">
<div class="container">
  <p>{{newpost.username}}</p>
  <p>{{newpost.post}}</p>

  <button id="btn" (click)="getComment(newpost.id)">Comment</button>
  <div [hidden]="!showCommentSection">
 <form #RegisterForm="ngForm" (ngSubmit)="registerUser(RegisterForm.value, newpost.id)">
  <textarea style="height: 40px; width: 225px;" type="text" ngModel id="comment" placeholder="comment" name="comment" required></textarea>
  <input class="btn-new" type="submit" id="saveData" name="Submit" [disabled]="RegisterForm.invalid" value="comment"/>
 </form>
 <div *ngFor="let newchat of userChat | async "> 
<div *ngIf="newchat">
    <div *ngIf="newpost.id == newchat.thepostid">
    <p>{{newchat.username}}</p>
    <p>{{newchat.comment}}</p>
</div>
</div>
 </div>
</div>
</div>

</div>
</div>
</body>
