<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Sem</title>
</head>
<main>
<body>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <h1>Admin Login</h1>
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                        <input type="text" ngModel id="username" name="username" required>
                        <input type="password" ngModel id="password" name="password" required>
                        <input class="btn-login" type="submit" id="saveData" name="Submit" [disabled]="loginForm.invalid" value="Login"/>
                        <a routerLink="/Login">Admin</a>
                      </form>
                </div>
            </div>
        </div>
   

</body>
</main>
</html>